

  @import url('https://fonts.googleapis.com/css2?family=Handjet&family=Oswald&family=Ravi+Prakash&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --back: black;
    --white:rgb(255, 255, 255);
    --regWhite:rgb(246, 246, 246);
    --thinWhite:rgb(238, 238, 238);
    --uThinWhite:rgb(229, 229, 229);
    --backBlack:rgb(30, 30, 30);
    --boxbackBlack:rgb(40, 40, 40);
    --boxheadBlack:rgb(53, 53, 53);
    --catFont:'Handjet', cursive;
    --headFont:'Oswald', sans-serif;
    --backshadow:rgba(0, 0, 0, 0.95) 0px 5px 15px;
}
body{
    background-color: var(--backBlack);
    color: var(--white);
}

#postContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
       
}
.postContent{
    display: block;
    width:80%;
    background-color:var(--boxbackBlack);
    border-radius: 10px; 
    box-shadow: var(--backshadow);
    margin-bottom: 1rem;

}
.postTitleconatiner{
    background-color: var(--boxheadBlack);
    width: 100%;
    border-radius:10px 10px 0 0;
    text-align: center;
    padding: 10px;
}
.postTitleconatiner a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    text-transform: uppercase;
    transition: 2s;
}
.postTitleconatiner a:active{
    font-size: 1.3rem;
    
}
.postContBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding: 20px;
}
.postbyTag,.postcatTag,.postcontents{
    width: 100%;
}
.postbyTag{
    font-size: 0.8rem;
    text-align: right;
}
.postcatTag{   
    display: block;
    border-bottom: 2px solid var(--white);
    border-top: 2px solid var(--white);
    padding: 5px;
    text-align: justify;
}
.postcatTag a{
    font-size: 1.5rem;
    text-decoration: none;
    font-family: var(--catFont);
}
.blogHead{
    background-color: rgb(20,20,20);
    padding: 15px;
    text-align: center;
    color: white;
    font-family: var(--headFont);
}
#articleContent{
    width: 80%;
    background-color:rgb(40, 40, 40);
    margin-left: 10%;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--backshadow);
}
.profileGo{
    background-color: var(--boxheadBlack);
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center left;
    height: 12vh;
    
}
.profileIcon > img{
    width: 4rem;
    height: 4rem;
    margin-left: 10px;   
}
.profileGo > p{
   font-size: 1.2rem;
   text-decoration: none;
   color: var(--white);
}
#postImg{
    width: 80%;
    height:30vh;
    margin-left: 10%;
    border: 2px black solid;
}
#postImg > img{
    width: 100%;
    height: 100%;
}
#postUpdate{
    width: 100%;
    height: 60px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.edup{
    width: 100%;
    height: 100%;
    border-left: 2px solid white;
    display: block;
    text-align: center;
}
.edup a{
    
    height: 100%;
    display: block;
}
#postUpdate form{
    width: 100%;
    height: 100%;
}
#postUpdate form button{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    display: block;
}
#likeBtn{
    padding: 0;
    border: none;
    background: none;
}
.comments{
    width: 100%;
    background-color: rgb(40, 40, 40);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--backshadow);
}
.commentBody{
    padding: 10px;
    text-align: justify;
}
.postForm{
    width: 90%;
    background-color: var(--boxbackBlack);
    padding: 1rem;
    box-shadow: var(--backshadow);
    border-radius: 20px;
}
.userProfile{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.profileImage > a >img{
    width:13rem;
    height: 13rem;
}
.userprofileimgbio{
    background-color: var(--boxheadBlack);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2rem;
    box-shadow: var(--backshadow);
}
#profileBio{
    margin-top: 1rem;
}
.profileContainer{
    text-align: center;
    width: 100%;
    background-color: var(--boxbackBlack);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: var(--backshadow);

    
}
.profileUrl{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.highlight{
    color: red;
}
.writeBtn{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    bottom: 2rem;
    right: 2rem;
    background-color: black;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: gold;
}
.writeBtn:active{
    height: 4.3rem;
    width: 4.3rem;
    background-color: gold;
    color: black;
}
.navFont{
    color: gold;
    font-family: 'Ravi Prakash', cursive;
    font-size: 2rem;
    text-decoration: underline;
}
@media screen and (min-width:992px){
    .postForm{
        width: 70%;
        background-color: var(--boxbackBlack);
        padding: 2rem;
    }
    .articatTag{   
         display: block; 
        width: 80%;
        margin-left: 10%;
        border: 2px solid var(--white);
        border-radius: 10px;
    }
    .articatTag a{
        display: block;
        font-size: 1.5rem;
        text-decoration: none;
        font-family: var(--catFont);
    }
    #postUpdate{
        width: 80%;
        margin-left: 10%;
        height: 60px;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        border: 2px solid white;
        border-radius: 20px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .edup a{
    
        height: 100%;
        display: block;
        margin-top: 10px;
    }
    .comments{
        width: 80%;
        margin-left: 10%;
        
    }
    #commentform{
        width: 70%;
        margin-left: 15%;
        
    }
    #postImg{
        width: 30%;
        height:40vh;
        margin-left: 35%;
        border: 2px black solid;
    }
     .userprofileimgbio{
        width: 40%;
        margin-top: 5vh;
        height: 100%;
    }
    .profiletab,.profiletabcontent{
        width: 50%;
    
    }
    .profiletab{
        margin-top: 5vh;
    }
     .left{
        float: left;
    }
    
    .right{
        float:right;
        
    }  
    
    .userProfile{
        display: block;
    }
    .writeBtn{
        width: 5rem;
        height: 5rem;
        right: 5rem;
    }
}