{%extends 'base.html' %}
{% load static %}
{%block title%}
{{page_user.user.first_name}} {{page_user.user.last_name}}
{% endblock %}
{% block content%}
<br><br><br><br>
<h1 class="blogHead">Hello {{page_user.user.first_name}} {{page_user.user.last_name}}</h1>
<article class="userProfile">

    <div class="userprofileimgbio left" class="bg-primary-subtle">
        {% if user.id == page_user.user.id %}
        <div class="dropdown" id="threeDot">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="text-align: right;">
                <i class="fa-solid fa-grip-vertical"></i>
            </button>
            <ul class="dropdown-menu bg-dark text-light" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item bg-dark text-light" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile</a></li>
                <li><a class="dropdown-item bg-dark text-light" href="{% url 'edit_profile' %}">Edit Settings</a></li>
            </ul>
          </div>
          {% endif %}
        <center>
        <figure class="profileImage">
            {% if page_user.profile_pic %}
                <a href="{{page_user.profile_pic.url}}"><img src="{{page_user.profile_pic.url}}" class="rounded-circle" alt="Profile Image"></a>
            {%else%}
                <img src="{%static 'myblog/images/profile.png'%}" class="rounded-circle" alt="Profile Image">
            {%endif%}
            <figcaption>
                {% if page_user.bio%}
                <p  id="profileBio">{{page_user.bio}}</p>
                {%endif%}
            </figcaption>
        </figure>
        </center>
    </div>
<ul class="nav nav-tabs bg-dark text-light justify-content-center profiletab right " id="myTab" role="tablist" >
    <li class="nav-item" role="presentation">
      <button class="nav-link active bg-dark text-light" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link bg-dark text-light" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Posts</button>
    </li>
  </ul>
  <div class="tab-content profiletabcontent right" id="myTabContent">
    <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
        <br>
        <article class="profileContainer">
              <p> Username: @{{page_user.user.username}}</p>
              <p> Date Joined : {{page_user.user.date_joined|date:"M d, Y"}}</p>
              <p> Last Login : {{ page_user.user.last_login|date:"F j, Y g:i a" }}</p>
              {% if user.id == page_user.user.id %}
              <p> Maild-id: @{{page_user.user.email}}</p>
              {%endif%}
              <p class="profileUrl">
                {% if page_user.web_url%}
                <a href="{{page_user.web_url}}" target="_blank"><i class="fa-brands fa-google" style="color: #fafafa;"></i></a>
                {%endif%}
                {% if page_user.facebook_url%}
                <a href="{{page_user.facebook_url}}" target="_blank"><i class="fa-brands fa-facebook" style="color: #3b5998;"></i></a>
                {%endif%}
                {% if page_user.instagram_url%}
                <a href="{{page_user.instagram_url}}" target="_blank"><i class="fa-brands fa-instagram" style="color:  #ac2bac;"></i></a>
                {%endif%}
                {% if page_user.twitter_url%}
                <a href="{{page_user.twitter_url}}" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                {%endif%}
                {% if page_user.github_url%}
                <a href="{{page_user.github_url}}" target="_blank"><i class="fa-brands fa-github" style="color: #dd4b39;"></i></a>
                {%endif%}
                {% if page_user.linkedin_url%}
                <a href="{{page_user.linkedin_url}}" target="_blank"><i class="fa-brands fa-linkedin-in" style="color: #007bb5"></i></a>
                {%endif%}
                </p>
        </article>
        <br>
        {% if page_user.id == 1 %}
        <div class="text-center">
            <a href="https://eventing-kqos.zeet-esakkinathan03.zeet.app/" target="_blank" class="btn btn-success btn-lg">
                Click to go events site
            </a>
        </div>
        {%endif%}
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <br>
        {% if posts%}
        <article id="postContainer">
            {% for post in posts %}
                <section class="postContent">
                    <div class="postTitleconatiner">
                        <a class="postTitle" href="{% url 'article_detail' post.id %}">
                            <strong style="color: white;">
                                {{post.title}}
                            </strong>
                        </a>
                    </div>
                    <div class="postContBody">
                        <div class="postcontents">
                            {{ post.body|truncatewords_html:30|safe }}
                        </div>
                        <div class="postcatTag">
                            <a href="{% url 'category' post.category|slugify %}">Category: {{post.category}}</a>
                        </div>
                        <div class="postbyTag">
                            <p>{{post.author.first_name}}  {{post.author.last_name}} {{post.post_date}} </p>
                        </div>
                    </div>
                </section>
            {%endfor%}
        </article>
        {% else %}
        <h3 class="blogHead"> No Post Yet....</h3>
        {%endif%}
    </div>

</article>
    <br>
    <div id="snackbar">Please login create blog</div>
    {% if user.is_authenticated %}
    <a href="{% url 'add_post' %}">
    <div class="writeBtn">
        <i class="fa-regular fa-pen-to-square"></i>
    </div>
    </a>
    {%else%}
    <script>
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    </script>
    {% endif %}

{% endblock %}